table{
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

tr:hover{
    background-color: black;
}

td{
    width: 50%;
}

table tr td:last-child{
    padding: 2rem;
    vertical-align: bottom;
    background-color: #ccc;
}