p {
    color: orange;
}

.azul{
    background-color: blue; 
    width: 50%;
}

/*
Anidado
*/
p .rojo{
    background-color: red;
}

/*
Todo junto
*/
p.amarillo {
    background-color: yellow;
}

tr:nth-child(odd){
    background-color: aquamarine;
}

tr:nth-child(odd):hover {
    background-color: brown;
}