body {
    font-size: 16px;
    background-color: white;
    color: black;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: blue;
    margin-bottom: 0.5rem;
}

img {
    width: 100%;
}

.logo {
    margin-top: 2rem;
    width: 130px;
}

.cabecera {
    padding-bottom: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

.cabecera p {
    font-size: 2rem;
}

.cabecera .peque {
    font-size: 1rem;
}

.piedepagina {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}