table {
    width: 80%;
    margin: 2rem auto;
    background-color: white;
}

tr:nth-child(odd) {
    background-color: orange;
}

tr:hover {
    background-color: red;
    color: white;
}

td {
    width: 50%;
    padding: 0.5rem 0.25rem;
}

td:first-child {
    text-align: right;
}